body {
    background-color: #666666;
    padding:0px;
    margin: 0px;
}

#background {
    display: block;
    position: fixed;
    z-index: 900;
    width: 100%;
    max-width: none;
    height: 100%;
    background: url(../assets/background.jpg) top left no-repeat #666666;
    background-size: cover;
}

#content-body {
    position: absolute;
    top: 27%;
    width: 100vw;
    height: auto;
    text-align: center;
}

div img {
    width: 5em;
    height: 5em;
    border-radius:2.5em;
    border: 2px solid #ffffff
}

div h1, div p {
    color: #ffffff;
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

ul li i {
    color: #ffffff;
    opacity: 0.8;
}